<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
	<test name="Test_1">
		<classes>
			<class
				name="com.GoJerk.MidtransPillow.VerifyFlowForPurchasingPillowUsingCreditCardAsPaymentMethod" />
			<class
				name="com.GoJerk.MidtransPillow.VerifyFlowForPurchasingPillowUsingCreditCardAsPaymentMethod" />
			<class
				name="com.GoJerk.MidtransPillow.VerifyFlowForPurchasingPillowUsingCreditCardAsPaymentMethod" />

		</classes>
		</test>

		<test name="Test_2">
			<classes>
				<class
					name="com.GoJerk.MidtransPillow.VerifyFlowForPurchasingPillowUsingCreditCardAsPaymentMethod" />
				<class
					name="com.GoJerk.MidtransPillow.VerifyFlowForPurchasingPillowUsingCreditCardAsPaymentMethod" />
				<class
					name="com.GoJerk.MidtransPillow.VerifyFlowForPurchasingPillowUsingCreditCardAsPaymentMethod" />

			</classes>
			</test>

			<test name="Test_3">
				<classes>
					<class
						name="com.GoJerk.MidtransPillow.VerifyFlowForPurchasingPillowUsingCreditCardAsPaymentMethod" />
					<class
						name="com.GoJerk.MidtransPillow.VerifyFlowForPurchasingPillowUsingCreditCardAsPaymentMethod" />
					<class
						name="com.GoJerk.MidtransPillow.VerifyFlowForPurchasingPillowUsingCreditCardAsPaymentMethod" />

				</classes>
			</test> <!-- Test -->
</suite> <!-- Suite -->
